<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @artist.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @artist.password %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @artist.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @artist.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @artist.genres %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
