<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @presentation_card.artist %>
</p>

<p>
  <strong>Song:</strong>
  <%= @presentation_card.song %>
</p>

<%= link_to 'Edit', edit_presentation_card_path(@presentation_card) %> |
<%= link_to 'Back', presentation_cards_path %>
